@sentry-health:registry=https://npm.pkg.github.com
username=erik-sentry
email=erik@sentryhealth.ca
strict-ssl=false
always-auth=true
//npm.pkg.github.com/:_authToken="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"
