@sentry-health:registry=https://npm.pkg.github.com
username=erik-sentry
email=erik@sentryhealth.ca
strict-ssl=false
always-auth=true
//npm.pkg.github.com/:_authToken="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"
